






<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">



<div class="login-dark">
    <form (submit)="onLoginSubmit()">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>

        <div class="form-group"><input class="form-control" type="text" placeholder="Nome de usuario" [(ngModel)]="username" name="username"></div>
        <div class="form-group"><input class="form-control" type="password" placeholder="Password" [(ngModel)]="password" name="password"></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Iniciar sesión</button></div>

    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
